[submodule "zephyr-on-litex-vexriscv"]
	path = zephyr-on-litex-vexriscv
	url = https://github.com/antmicro/zephyr-on-litex-vexriscv
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
